.header {
    height: 40px;
    text-align: right;
    right: 20px;
}

.setting {
    margin-top: 24px;
    margin-right: 24px;
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
    font-weight: 800;
}