.container{
    display: block;
    width: 368px;
    margin: 0 auto;
    .main-button{
        width: 100%;
    }
    .register{
        text-align: center;
    }
}


.password-container{
    .auth-code {
        height: 32px;
        width: 80px;
        overflow: hidden;
        svg{
            height: inherit;
            width: inherit;
        }
    }
}