.global-footer {
    display: block;
    margin: 48px 0 24px;
    padding: 0 16px;
    text-align: center;
    .link {
        margin-bottom: 8px;
    }

    .copyright {
        color: #00000073;
        font-size: 14px;
    }
    .linkItem {
        display: inline-block;
        color: #00000073;
        transition: all 0.3s;
        margin-right: 40px;
    }
}
